<?xml version="1.0" encoding="utf-8"?>
<launch>

	<arg name="rviz" default="true" />

	<!-- Set the robot model -->
	<param name="robot_description" textfile="$(find pses_simulation)/data/urdf_model/apollo_13.urdf"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

	<!-- Run the necessary nodes to bring up the car -->
	<include file="$(find pses_basis)/launch/pses_basis.launch"/>
	<node pkg="pses_navigation" type="car_controller" name="car_controller" output="screen" />

	<!-- Run the map server -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find pses_navigation)/data/map/map.yaml" />

	<!-- Median Filter for the depth image -->
	<node pkg="pses_navigation" type="kinect2_filter" name="kinect2_filter" />
	
	<!-- Convert the kinect point cloud to a laserscan message -->
	<node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" >
		<remap from="image" to="/apollo_13/depth" />
		<remap from="camera_info" to="/kinect2/sd/camera_info" />
		<param name="output_frame_id" value="base_laser" />
		<param name="range_max" value="10.0" />
		<param name="range_min" value="0.80" />
	</node>

	<!-- Run the navigation stack -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" >

		<!-- Planners -->
		<!-- param name="base_local_planner" value="pose_follower/PoseFollower" / -->
		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<!-- Costmap parameters -->
		<rosparam file="$(find pses_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
		<rosparam file="$(find pses_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
		<rosparam file="$(find pses_navigation)/config/local_costmap_params.yaml" command="load"/>
		<rosparam file="$(find pses_navigation)/config/global_costmap_params.yaml" command="load"/>
		<rosparam file="$(find pses_navigation)/config/teb_local_planner_params.yaml" command="load"/>
	</node>

	<!-- node pkg="tf" type="static_transform_publisher" name="footprint_broadcaster" args="0 0 0 0 0 0 1 map odom 10" / -->

	<!-- Run AMCL -->
	<include file="$(find pses_navigation)/launch/amcl.launch"/>

	<!-- Show the Rviz visualization-->
    <group if="$(arg rviz)">
		<include file="$(find pses_navigation)/launch/rviz_display.launch" />
	</group>

</launch>