<launch>
  <master auto="start"/>
    <node name="kinect_filter" pkg="segfault_nav_ctrl" type="kinect_filter"/>
  <!---Depthimage to Laserscan -->
    <node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan">
        <remap from="image" to="depth_filtered"/>
        <remap from="camera_info" to="depth_filtered/camera_info"/>
        <param name="output_frame_id" value="base_laser"/>
        <param name="scan_height" value="1"/>
        <param name="range_min" value="0.80"/>
        <param name="range_max" value="10.0"/>
    </node>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find segfault_robot_2dnav)/data/Maps/FG_ES_RS_map/map.yaml"/>
<!-- use this node only in real scenario not in simulation -->
 <node pkg="tf" type="static_transform_publisher" name ="laser_broadcaster" args="0 0 0.16 0 0 0 1 base_footprint base_laser 10" />

 <!--node pkg="tf" type="static_transform_publisher" name ="footprint_broadcaster" args="0 0 0 0 0 0 1 map odom 10" /-->

<include file="$(find segfault_robot_2dnav)/launch/amcl.launch"/>


  <!-- *************** Navigation ************* -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <!-- Planners -->
		<!-- param name="base_local_planner" value="pose_follower/PoseFollower" / -->
		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<!-- Costmap parameters -->
		<rosparam file="$(find segfault_robot_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
		<rosparam file="$(find segfault_robot_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
		<rosparam file="$(find segfault_robot_2dnav)/config/local_costmap_params.yaml" command="load"/>
		<rosparam file="$(find segfault_robot_2dnav)/config/global_costmap_params.yaml" command="load"/>
		<rosparam file="$(find segfault_robot_2dnav)/config/teb_local_planner_params.yaml" command="load"/>

 </node>

</launch>
