<?xml version="1.0" encoding="utf-8"?>
<launch>
  <master auto="start"/>

  <node pkg="tf" type="static_transform_publisher" name ="footprint_broadcaster" args="0 0 0 0 0 0 1 map odom 10" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
   
		<!-- Planners -->
		<!-- param name="base_local_planner" value="pose_follower/PoseFollower" / -->
		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<!-- Costmap parameters -->
                <rosparam file="$(find segfault_robot_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
                <rosparam file="$(find segfault_robot_2dnav)/config/base_local_planner_params.yaml" command="load" ns="local_costmap"/>
                <!--rosparam file="$(find segfault_robot_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/-->
                <rosparam file="$(find segfault_robot_2dnav)/config/local_costmap_params.yaml" command="load"/>
                <rosparam file="$(find segfault_robot_2dnav)/config/global_costmap_params.yaml" command="load"/>
                <rosparam file="$(find segfault_robot_2dnav)/config/teb_local_planner_params.yaml" command="load"/>

 </node>

</launch>
